@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;400;500;900&display=swap');

body {
    font-family: 'exo', sans-serif;
}

#logo {
    height: 100px;
}

.faixa {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 4px;
  }

header {
    background-color: black;
}

section {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

#portfolio {
    margin-top: 20px;
}
  
#navegador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
}

ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
    margin-top: 24px;
    font-size: 18px;
}

@media screen and (max-width: 575px) {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}